!!!
%html
  %head
    %title Magickly Demo Page
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'}
    :javascript
      function updateResult(){
        var resultUrl = '?' + $('#params').val() + '&src=' + $('#src-img').val();
        $('#result-url').val(location + resultUrl);
        $('#result-image').attr('src', resultUrl);
      }
      
      $(function(){
        updateResult();
        $('#src-img').change(updateResult);
        $('#params').change(updateResult);
      });

  %body
    %h1 Welcome to Magickly
    %label Image URL:
    %input#src-img{:size => 80, :value => "http://upload.wikimedia.org/wikipedia/commons/0/0d/Imagemagick-logo.png"}
    %br
    %label Params:
    %input#params{:size => 80}
    %br
    %br
    %label Result URL:
    %input#result-url{:size => 80}
    %br
    %img#result-image
