<!DOCTYPE html>
<html>
  <head>
    <title>Magickly</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container">
      <div id="logo"><img src="images/logo.jpg"></div>
      <div id="about"><p>About: A service for image manipulation - built as a simple wrapper of Imagemagick which handles caching, c/o the Dragonfly gem. Say the base URL is the hosted version of this app, magickly.jux.com. The image URL is appended to the query string as a src=, followed by any of the supported operations below. Multiple operations can be combined, and will be applied in order.If no query params are provided, a simple sandbox page is displayed.</p></div>
      <div id="main">
        <p>Paste in your url ___________________________________________________________________________________________</p>
        <div id="checkbox">
          <p>Check the effects you want:<br /></p>
        </div>
        <div id="sliders">
          <p>Also, mess with sliders:</p>
        </div>
        <div id="result">
          <p>Here's the result:</p>
          <div id="result_container">
        </div>
          <p>Sweet! Copy the result url:</p>
          
        </div>
        <div id="footer">
          <span id="left_foot">Check out the GitHub Page</span>
          <span id="right_foot">Made with love, by: Jux.com</span>
        </div> <!--end footer -->
      </div> <!--end main -->
    </div> <!-- end container -->
  </body>
</html>
