!!!
%html
  %head
    %title Magickly Demo Page
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'}
    :javascript
      function updateResult(){
        var query = [];
        var params = $('#params').val();
        if (params) {
          query.push(params);
        }
        query.push('src=' + $('#src-img').val());
        
        var resultUrl = '?' + query.join('&');
        $('#result-url').val(location + resultUrl);
        $('#result-image').attr('src', resultUrl);
      }
      
      $(function(){
        updateResult();
        $('#src-img').change(updateResult);
        $('#params').change(updateResult);
      });
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22837777-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    %h1 Welcome to Magickly
    More info on the
    %a{:href => "https://github.com/afeld/magickly"} Github project page
    %br
    %br
    %label Image URL:
    %input#src-img{:size => 80, :value => "http://upload.wikimedia.org/wikipedia/commons/0/0d/Imagemagick-logo.png"}
    %br
    %label Params:
    %input#params{:size => 80, :value => "resize=200x"}
    %br
    %strong Available methods:
    = @methods.join(', ')
    %br
    %br
    %label Result URL:
    %input#result-url{:size => 80}
    %br
    %img#result-image
