<!DOCTYPE html>
<html>
<head>
  <title>Magickly</title>
  <link href="jquery-ui.smoothness.css" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script type="text/javascript" src="magickly_demo.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22837777-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <a href="https://github.com/afeld/magickly/blob/master/README.md">
    <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub">
  </a>
  <div id="container">
    <div id="logo">
      <a href="http://documentup.com/afeld/magickly"><img width='822' height='244' src="images/logo.jpg"></a>
    </div>
    <div id="about"><p>Magickly is a web service for image manipulation, built as a wrapper of Imagemagick.  This allows developers to apply effects to one (or hundreds) of photos, without any fancy plugins or complex client code.  It's as easy as providing your source image and the list of transformations.</p></div>
    <div id="main">
      <p id="readme-link">
        Click <a href="http://documentup.com/afeld/magickly">here</a> to learn more.
      </p>
    </div> <!--end main -->
  </div> <!-- end container -->
  <div id="footer">Created lovingly by <a href="http://api.afeld.me">Aidan Feldman</a> and <a href="https://jux.com">Jux.com</a></div>
</body>
</html>
